<footer class="footer">
    <div class="footer__inner">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <div class="footer__social">
                        <ul class="footer__social__list list-reset">
                            <li class="footer__social__item">
                                <a class="footer__social__link" href="https://instagram.com" target="_blank" rel="noopener" aria-label="Instagram link"><i class="fa-brands fa-instagram"></i></a>
                            </li>
                            <li class="footer__social__item">
                                <a class="footer__social__link" href="https://facebook.com" target="_blank" rel="noopener" aria-label="Facebook link"><i class="fa-brands fa-facebook"></i></a>
                            </li>
                            <li class="footer__social__item">
                                <a class="footer__social__link" href="https://linkedin.com" target="_blank" rel="noopener" aria-label="LinkedIn link"><i class="fa-brands fa-linkedin"></i></a>
                            </li>
                            <li class="footer__social__item">
                                <a class="footer__social__link" href="https://reddit.com" target="_blank" rel="noopener" aria-label="Reddit link"><i class="fa-brands fa-reddit-alien"></i></a>
                            </li>
                            <li class="footer__social__item">
                                <a class="footer__social__link" href="https://github.com" target="_blank" rel="noopener" aria-label="Github link"><i class="fa-brands fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col col-12">
                <div class="copyright">
                    <p>&copy; 2025 {{ site.author | default: "Il Tuo Nome" }}. Tutti i diritti riservati.</p>
                </div>
            </div>
        </div>
    </div>
</footer>