<section class="hero">
    <div class="container">
        <div class="hero__inner">
            <div class="row">
                <div class="col col-6 col-d-12">
                    <div class="hero__left">
                        <div class="hero__image">
                            <img class="lazy loaded" data-ll-status="loaded" src="/assets/img/desk-hero.jpg">
                        </div>
                        <div class="hero__image__caption">
                            Il mio angolo di lavoro
                        </div>
                    </div>
                </div>

                <div class="col col-6 col-d-12">
                    <div class="hero__right">
                        <div class="hero__avatar">
                            <img class="lazy loaded" alt="Enrico Rinaldini" data-ll-status="loaded" src="/assets/img/avatar.png">
                        </div>
                        <h1 class="hero__title">Ciao! 👋</h1>
                        <p class="hero__subtitle">Sono uno sviluppatore di Videogames e Software</p>
                        <div class="hero__description">
                            <p>Questa è la mia pagina personale e il luogo in cui puoi trovare i miei progetti.</p>
                            <p>Qui condivido idee, tools e metodi che mi aiutano a bilanciare la produttività con creatività e i miei progetti come sviluppatore.</p>
                            <p>.</p>
                        </div>
                        <a href="/contact/" class="hero__button button button--primary">Scrivimi</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>