<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title | default: site.title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Roboto+Mono:ital,wght@0,100..700;1,100..700&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <script>
        const defaultTheme = "dark";
        const isToggleEnabled = true;
        const userTheme = localStorage.getItem("theme");

        function setTheme(mode) {
            if (mode === "dark") {
                document.documentElement.setAttribute("dark", "");
                document.documentElement.classList.add("dark-mode");
            } else if (mode === "light") {
                document.documentElement.removeAttribute("dark");
                document.documentElement.classList.remove("dark-mode");
            }
        }

        if (isToggleEnabled) {
            if (userTheme) {
                setTheme(userTheme);
            } else {
                setTheme(defaultTheme);
            }
        } else {
            setTheme(defaultTheme);
        }

        if (localStorage.getItem("classView") === "list") {
            document.documentElement.setAttribute("list", "");
            document.documentElement.classList.add('view-list');
        }
    </script>
</head>

<body>
    <div class="global-warp">
        <!-- begin header -->
        {% include header.html %}
        <!-- end header -->
        <!-- begin content -->
        <main>
            <!-- begin hero -->
            {% if page.url == "/" %}
            {% include hero.html %}
            {% endif %}
            <!-- end hero -->
            <!-- Page Content -->
            <!--       <section class="{% if page.url != '/' %}section-main{% endif %} {% if page.url == '/' %}section{% endif %}">-->

            <div class="container">

                {{ content }}

                {% if page.url == "/" %}

                <div class="row">
                    <div class="col col-8">
                        <div class="section__head">
                            <h2 class="section__title">
                                I miei post
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="view-list">
                        {% for project in site.data.projects %}

                        <article class="article article--flexible col" data-project-id="{{project.id}}">
                            <div class="article__inner">
                                <div class="article__head">
                                    <a class="article__image" href="{{ project.link | relative_url }}">
                                        <img src="{{project.image}}" href="{{project.id}}" alt="{{project.title}}">
                                    </a>
                                </div>
                                <div class="article__content">
                                    <h2 class="article__title">
                                        <a href="{{ project.link | relative_url }}">{{project.title}}</a>
                                    </h2>
                                    <p class="article__excerpt"> {{project.excerpt}}</p>
                                    <div class="article__tags">
                                        {% for tech in project.technologies %}
                                        <span class="article__tag">{{ tech }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </article>

                        {% endfor %}
                    </div>
                </div>
            </div>

            {% endif %}

            <!--                 <ul>
            {% for post in site.posts %}
                <li>
                <a href="{{ post.url }}">{{ post.title }}</a> - {{ post.date }}</a>
                </li>
            {% endfor %}
            </ul>
 -->
            <!--      </section>-->
        </main>


        <!-- begin footer -->
        {% include footer.html %}
        <!-- end footer -->
        <div class="top" title="Top">
            <i class="fa-solid fa-arrow-up"></i>
        </div>
    </div>
    <script src="/js/scripts.js"></script>
    <script src="/js/common.js"></script>
</body>

</html>